## Lists

In [138]:
from typing import Tuple, List, Set, Dict

In [139]:
# Create a list of your favorite fruits

fav_fruits:List[str] = ["Watermelon", "Apple", "Orange"]

fav_fruits

['Watermelon', 'Apple', 'Orange']

In [140]:
# Add a new fruit to the end of your list.

fav_fruits.append("Kiwi")

fav_fruits

['Watermelon', 'Apple', 'Orange', 'Kiwi']

In [141]:
# Remove the first fruit from your list.

fav_fruits.pop(0)

fav_fruits

['Apple', 'Orange', 'Kiwi']

In [142]:
# Print the third fruit in your list

fav_fruits[2]

'Kiwi'

In [143]:
# Find the length of your list.

len(fav_fruits)

3

In [144]:
# Check if "apple" is in your list.

"You like apples" if "Apple" in fav_fruits else "You don't like Apple"

'You like apples'

In [145]:
# Create a new list with the first three fruits.

first_3_fav_fruits: List[str] = fav_fruits[:3]

first_3_fav_fruits

['Apple', 'Orange', 'Kiwi']

In [146]:
# Sort your list of fruits alphabetically.

first_3_fav_fruits.sort()

first_3_fav_fruits

['Apple', 'Kiwi', 'Orange']

## Tuples

In [147]:
# Create a tuple with your name and age

info:Tuple[str, int] = ("Yash", 20)
info

('Yash', 20)

In [148]:
# Try to change your age in the tuple (this will raise an error).

info[1] += 1

TypeError: 'tuple' object does not support item assignment

In [149]:
# Create a tuple of the first five even numbers.

first_five_even_no: Tuple[int] = tuple(i for i in range(0, 10, 2))
first_five_even_no

(0, 2, 4, 6, 8)

In [150]:
# Unpack the tuple into separate variables.

a, b, c, d, e = first_five_even_no

print(a, b, c, d, e)

0 2 4 6 8

In [151]:
# Find the index of a specific number in your tuple.

first_five_even_no.index(4)

2

In [152]:
# Count how many times a number appears in your tuple.

first_five_even_no.count(3)

0

## Sets

In [153]:
# Create a set of unique numbers.

set1:Set[int]  = { 1, 0, 5, 8, 9}
set1

{0, 1, 5, 8, 9}

In [154]:
# Add a new number to your set.

set1.add(3)
set1

{0, 1, 3, 5, 8, 9}

In [155]:
# Remove a number from your set.

set1.remove(3)
set1

{0, 1, 5, 8, 9}

In [156]:
# Create another set

set2:Set[int] = { 1, 0, 7, 9, 6}
set2

{0, 1, 6, 7, 9}

In [157]:
# and find the union of both sets.

set3: Set[int] = set1.union(set2)
set3

{0, 1, 5, 6, 7, 8, 9}

In [158]:
# Find the intersection of two sets.

set4: Set[int] = set1.intersection(set2)
set4

{0, 1, 9}

In [159]:
# Check if one set is a subset of another.

test_set: Set[int] = { 2, 3, 7}
all((i in set3 for i in test_set))

False

## Dictionary

In [160]:
# Create a dictionary with names and ages of your family members.

family: Dict[str, None | int] = {
    "mumma Gupta": None,
    "papa Gupta": None,
    "didi Gupta": None,
    "dusri didi Gupta": None,
    "yash Gupta": 20,
}
family

{'mumma Gupta': None,
 'papa Gupta': None,
 'didi Gupta': None,
 'dusri didi Gupta': None,
 'yash Gupta': 20}

In [161]:
# Add a new family member to your dictionary.

family["rabchick"] = 8
family

{'mumma Gupta': None,
 'papa Gupta': None,
 'didi Gupta': None,
 'dusri didi Gupta': None,
 'yash Gupta': 20,
 'rabchick': 8}

In [162]:
# Change the age of one family member

family["yash Gupta"] += 1
family

{'mumma Gupta': None,
 'papa Gupta': None,
 'didi Gupta': None,
 'dusri didi Gupta': None,
 'yash Gupta': 21,
 'rabchick': 8}

In [163]:
# Remove a family member from the dictionary.

del family["yash Gupta"]
family

{'mumma Gupta': None,
 'papa Gupta': None,
 'didi Gupta': None,
 'dusri didi Gupta': None,
 'rabchick': 8}

In [164]:
# Print all the keys in your dictionary.

family.keys()

dict_keys(['mumma Gupta', 'papa Gupta', 'didi Gupta', 'dusri didi Gupta', 'rabchick'])

In [165]:
# Print all the values in your dictionary.

family.values()

dict_values([None, None, None, None, 8])

In [166]:
# Check if a specific name exists in your dictionary.

"papa Gupta" in family

True

In [167]:
# Get the age of a family member, providing a default value if not found.

age_with_default: int = family["papa Gupta"] or 45
age_with_default

45